/*styles for on hover tooltip display*/
.coverlay {
  display: grid;
  grid-template-rows: 1fr;
  background-color: rgba(0, 0, 0, 0.853); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  color:white;
  padding:10px;
  border-radius:5px;
  width:600px;
  height:100px ;  
}
